asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2.8
django-crispy-forms==1.14.0
django-rest-framework==0.1.0
django-widget-tweaks==1.5.0
djangorestframework==3.14.0
Pillow==10.1.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.9.0
